<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default" style="background-color: #747576;">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand " style="color: #1C222D;" >DAILY JOURNAL</p>
      </div>
  </nav>

  <body class = "auth">
    <div class="container">

<div class="jumbotron centered" style="background-color: #7777; color: #1C222D;">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Write Every Day</h1>
    <p class="lead">Today's Thoughts, Tomorrow's Treasure.</p>
    <hr style="background-color: #1C222D;">
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>


</div>
<div  class="footer-padding"></div>
  <div style="background-color: #747576; " class="footer">
    <p style="color: #1C222D;">MADE BY FiREDR4G0N</p>
  </div>
</div>
</body>
</html>

