<%- include("partials/header")  -%> 

<h1>CONTACT</h1>
<p style="white-space: pre;">

Thank you for visiting our website. 
If you have any questions, feedback, or inquiries, please don't hesitate to reach out to us. 
We would love to hear from you!

You can contact us using the following methods:
Email: <a href="mailto:arpitkhanulia7@gmail.com">arpitkhanulia7@gmail.com</a>
Phone: 91+ 9557902751
Address: Quantum University, Roorkee, Uttarakhand.


</p>

<%- include("partials/footer")  -%> 